@font-face {
  font-family: "Clear Sans";
  src: url("../fonts/ClearSans-Medium.ttf") format("truetype");
}

a {
    text-decoration: none;
}

$primary: rgb(250, 207, 214);
$secondary: rgb(109, 0, 109);

.el-carousel__container {
    height: 533px !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#__nuxt {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: $primary;
  font-family: Clear Sans;
}

--el-input-focus-border-color {
  border-color: $secondary !important;
}

.el-input {
  --el-input-focus-border: rgb(109, 0, 109) !important;
}

.el-radio__input.is-checked .el-radio__inner {
  background-color: rgb(109, 0, 109) !important;
  border-color: rgb(109, 0, 109) !important;
}

.el-radio__input.is-checked+.el-radio__label {
  color: rgb(109, 0, 109) !important;
}

.el-input__wrapper.is-focus {
    box-shadow: 0 0 0 1px rgb(109, 0, 109) !important;
}

.el-checkbox__input.is-checked .el-checkbox__inner {
  background-color: rgb(109, 0, 109) !important;
  border-color: rgb(109, 0, 109) !important;
}

.el-checkbox__inner {
  height: 20px !important;
  width: 20px !important;
  border-color: black !important;
}

.el-checkbox__inner::after {
  height: 12px !important;
  left: 7px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
}

pre {
    white-space: pre-wrap;
    word-break: break-all;
}

  @media screen and (max-width: 375px) {
      .component-description__code {
        min-width: 350px;
    }
  } 